<p>
  <%=content_tag(:label, l(:label_maximum_files_upload) + ":") %>
  <%=text_field_tag "settings[dmsf_max_file_upload]", @settings["dmsf_max_file_upload"], :size=>10 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:note_maximum_number_of_files_uploaded) %>
</p>

<p>
  <%=content_tag(:label, l(:label_maximum_files_download) + ":") %>
  <%=text_field_tag "settings[dmsf_max_file_download]", @settings["dmsf_max_file_download"], :size=>10 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:note_maximum_number_of_files_downloaded) %>
</p>

<p>
  <%=content_tag(:label, l(:label_maximum_email_filesize) + ":") %>
  <%=text_field_tag "settings[dmsf_max_email_filesize]", @settings["dmsf_max_email_filesize"], :size=>10 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:note_maximum_email_filesize) %>
</p>

<p>
  <%=content_tag(:label, l(:label_default_notifications) + ":") %>
  <%=select_tag("settings[dmsf_default_notifications]", 
		options_for_select([
				[l(:select_option_deactivated), nil], 
				[l(:select_option_activated), "1"]], 
				:selected => @settings["dmsf_default_notifications"])) %><br/>
  (<%=l(:label_default)%>: <%=l(:select_option_deactivated)%>)
</p>

<p>
  <%=content_tag(:label, l(:label_webdav) + ":") %>
  <%=select_tag("settings[dmsf_webdav]",
                options_for_select([
                                [l(:select_option_deactivated), nil],
                                [l(:select_option_activated), "1"]],
                                :selected => @settings["dmsf_webdav"])) %><br/>
  (<%=l(:label_default)%>: <%=l(:select_option_activated)%>)
  <br/>
  <%= l(:note_webdav).html_safe %>
</p>

<% if @settings["dmsf_webdav"].nil? || !@settings["dmsf_webdav"].empty? %>
<p>
  <%=content_tag(:label, l(:label_webdav_strategy) + ":") %>
  <%=select_tag("settings[dmsf_webdav_strategy]",
                options_for_select([
                                [l(:select_option_webdav_readonly), "WEBDAV_READ_ONLY"],
                                [l(:select_option_webdav_readwrite), "WEBDAV_READ_WRITE"]],
                                :selected => @settings["dmsf_webdav_strategy"])) %><br/>
  (<%=l(:label_default)%>: <%=l(:select_option_webdav_readonly)%>)
  <br/>
  <%= l(:note_webdav_strategy).html_safe %>
</p>
<% end %>
